       <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What We Offer</h2>
          <p>Predix CI is a hosted testing and continuous-delivery service that speeds up your development process.</p>
          <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
          <h2>What is Predix?</h2>
          <p>A scalable, asset-centric data foundation is critical to the success of industrial applications. By harnessing the power of your industrial data, you can unlock new insights and new value across your operations. Predix Platform is a comprehensive and secure application platform to run, scale, and extend digital industrial solutions. The platform delivers shared capabilities that industrial applications require: asset connectivity, edge technologies, analytics and machine learning, big data processing, and asset-centric digital twins. </p>
          <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
       </div>
        <div class="col-md-4">
          <h2>The Fast Path to Innovation</h2>
          <p>Predix Platform is built from the ground up to
              meet the needs of distributed, challenging, and complex industrial environments. Research has shown that adopting a platform can accelerate innovation and enable traditional businesses to manage such a transformation. However, customers that typically use their own homegrown business systems or non-industrial platforms face many challenges. Because valuable resources are tied up in building and maintaining their own platform, very few achieve signi cant outcomes.</p>
          <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>
